-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: vietsignschool
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `answer`
--

DROP TABLE IF EXISTS `answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `answer` (
  `answer_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `content` varchar(255) DEFAULT NULL,
  `image_location` varchar(255) DEFAULT NULL,
  `is_correct` bit(1) NOT NULL,
  `video_location` varchar(255) DEFAULT NULL,
  `question_id` bigint DEFAULT NULL,
  PRIMARY KEY (`answer_id`),
  KEY `FK8frr4bcabmmeyyu60qt7iiblo` (`question_id`),
  CONSTRAINT `FK8frr4bcabmmeyyu60qt7iiblo` FOREIGN KEY (`question_id`) REFERENCES `question` (`question_id`)
) ENGINE=InnoDB AUTO_INCREMENT=346 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `answer`
--

LOCK TABLES `answer` WRITE;
/*!40000 ALTER TABLE `answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_learning_progress`
--

DROP TABLE IF EXISTS `class_learning_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_learning_progress` (
  `progress_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `class_room_id` bigint NOT NULL,
  `total_lessons` int DEFAULT '0',
  `completed_lessons` int DEFAULT '0',
  `total_parts` int DEFAULT '0',
  `completed_parts` int DEFAULT '0',
  `total_vocabularies` int DEFAULT '0',
  `learned_vocabularies` int DEFAULT '0',
  `last_activity_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`progress_id`),
  UNIQUE KEY `uk_user_class` (`user_id`,`class_room_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_class_room` (`class_room_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_learning_progress`
--

LOCK TABLES `class_learning_progress` WRITE;
/*!40000 ALTER TABLE `class_learning_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_learning_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_room`
--

DROP TABLE IF EXISTS `class_room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_room` (
  `class_room_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `content` varchar(255) DEFAULT NULL,
  `image_location` varchar(255) DEFAULT NULL,
  `thumbnail_path` varchar(255) DEFAULT NULL,
  `teacher_id` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `class_code` varchar(255) DEFAULT NULL,
  `is_teacher_created` tinyint(1) DEFAULT '0',
  `status` enum('PENDING','APPROVED','REJECTED') DEFAULT 'PENDING',
  `slug` varchar(255) DEFAULT NULL,
  `class_level` enum('Lß╗¢p 1','Lß╗¢p 2','Lß╗¢p 3','Lß╗¢p 4','Lß╗¢p 5') NOT NULL,
  `organization_name` varchar(255) DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`class_room_id`),
  KEY `fk_teacher` (`teacher_id`),
  KEY `fk_classroom_organization_id` (`organization_id`),
  CONSTRAINT `fk_classroom_organization_id` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`organization_id`),
  CONSTRAINT `fk_teacher` FOREIGN KEY (`teacher_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_room`
--

LOCK TABLES `class_room` WRITE;
/*!40000 ALTER TABLE `class_room` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_student`
--

DROP TABLE IF EXISTS `class_student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_student` (
  `class_student_id` bigint NOT NULL AUTO_INCREMENT,
  `class_room_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `created_date` datetime(6) DEFAULT CURRENT_TIMESTAMP(6),
  `modified_date` datetime(6) DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `status` enum('ACTIVE','INACTIVE','LEFT') DEFAULT 'ACTIVE',
  PRIMARY KEY (`class_student_id`),
  KEY `fk_class_student_classroom` (`class_room_id`),
  KEY `fk_class_student_user` (`user_id`),
  CONSTRAINT `fk_class_student_classroom` FOREIGN KEY (`class_room_id`) REFERENCES `class_room` (`class_room_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_class_student_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_student`
--

LOCK TABLES `class_student` WRITE;
/*!40000 ALTER TABLE `class_student` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_teacher`
--

DROP TABLE IF EXISTS `class_teacher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_teacher` (
  `class_teacher_id` bigint NOT NULL AUTO_INCREMENT,
  `class_room_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `modified_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`class_teacher_id`),
  KEY `fk_class_teacher_classroom` (`class_room_id`),
  KEY `fk_class_teacher_user` (`user_id`),
  CONSTRAINT `fk_class_teacher_classroom` FOREIGN KEY (`class_room_id`) REFERENCES `class_room` (`class_room_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_class_teacher_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_teacher`
--

LOCK TABLES `class_teacher` WRITE;
/*!40000 ALTER TABLE `class_teacher` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_teacher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact`
--

DROP TABLE IF EXISTS `contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact` (
  `contact_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `avatar_location` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`contact_id`)
) ENGINE=InnoDB AUTO_INCREMENT=129 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact`
--

LOCK TABLES `contact` WRITE;
/*!40000 ALTER TABLE `contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversation`
--

DROP TABLE IF EXISTS `conversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversation` (
  `conversation_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `conversation_name` varchar(255) DEFAULT NULL,
  `conversation_type` enum('GROUP','SINGLE') DEFAULT NULL,
  PRIMARY KEY (`conversation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversation`
--

LOCK TABLES `conversation` WRITE;
/*!40000 ALTER TABLE `conversation` DISABLE KEYS */;
/*!40000 ALTER TABLE `conversation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `data_collection`
--

DROP TABLE IF EXISTS `data_collection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `data_collection` (
  `data_collection_id` bigint NOT NULL AUTO_INCREMENT,
  `volunteer_email` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `admin_email` varchar(255) DEFAULT NULL,
  `data_location` varchar(255) DEFAULT NULL,
  `feed_back` varchar(255) DEFAULT NULL,
  `score` float NOT NULL,
  `status` int NOT NULL,
  `vocabulary_id` bigint DEFAULT NULL,
  `created_by` varchar(255) DEFAULT NULL,
  `detection_content` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`data_collection_id`),
  KEY `FKlp6aat9pduh93prfhiykbv1r5` (`vocabulary_id`),
  CONSTRAINT `FKlp6aat9pduh93prfhiykbv1r5` FOREIGN KEY (`vocabulary_id`) REFERENCES `vocabulary` (`vocabulary_id`)
) ENGINE=InnoDB AUTO_INCREMENT=160 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `data_collection`
--

LOCK TABLES `data_collection` WRITE;
/*!40000 ALTER TABLE `data_collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `data_collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam`
--

DROP TABLE IF EXISTS `exam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exam` (
  `exam_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `is_private` bit(1) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `class_room_id` bigint DEFAULT NULL,
  PRIMARY KEY (`exam_id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam`
--

LOCK TABLES `exam` WRITE;
/*!40000 ALTER TABLE `exam` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_attempt`
--

DROP TABLE IF EXISTS `exam_attempt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exam_attempt` (
  `attempt_id` bigint NOT NULL AUTO_INCREMENT,
  `exam_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `score` float DEFAULT NULL,
  `started_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `finished_at` datetime DEFAULT NULL,
  PRIMARY KEY (`attempt_id`),
  KEY `exam_id` (`exam_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `exam_attempt_ibfk_1` FOREIGN KEY (`exam_id`) REFERENCES `exam` (`exam_id`),
  CONSTRAINT `exam_attempt_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_attempt`
--

LOCK TABLES `exam_attempt` WRITE;
/*!40000 ALTER TABLE `exam_attempt` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_attempt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friend_ship`
--

DROP TABLE IF EXISTS `friend_ship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `friend_ship` (
  `created_by` varchar(255) NOT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `status` int NOT NULL,
  `send_friend_id` bigint NOT NULL,
  `accept_friend_id` bigint NOT NULL,
  PRIMARY KEY (`accept_friend_id`,`send_friend_id`),
  KEY `FK1aao5ce4qv11rxt2ae94ix7r0` (`send_friend_id`),
  CONSTRAINT `FK1aao5ce4qv11rxt2ae94ix7r0` FOREIGN KEY (`send_friend_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `FKg0yu0k5m1wq1yg4usf0xmyuxu` FOREIGN KEY (`accept_friend_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friend_ship`
--

LOCK TABLES `friend_ship` WRITE;
/*!40000 ALTER TABLE `friend_ship` DISABLE KEYS */;
/*!40000 ALTER TABLE `friend_ship` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `group_member`
--

DROP TABLE IF EXISTS `group_member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `group_member` (
  `group_member_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `is_active` bit(1) NOT NULL,
  `last_activity` datetime(6) DEFAULT NULL,
  `contact_id` bigint DEFAULT NULL,
  `conversation_id` bigint DEFAULT NULL,
  PRIMARY KEY (`group_member_id`),
  KEY `FKqbnnx666uxh38dff4uanvgw88` (`contact_id`),
  KEY `FKh9ojh95jsbqa9k94mk9sjs64k` (`conversation_id`),
  CONSTRAINT `FKh9ojh95jsbqa9k94mk9sjs64k` FOREIGN KEY (`conversation_id`) REFERENCES `conversation` (`conversation_id`),
  CONSTRAINT `FKqbnnx666uxh38dff4uanvgw88` FOREIGN KEY (`contact_id`) REFERENCES `contact` (`contact_id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `group_member`
--

LOCK TABLES `group_member` WRITE;
/*!40000 ALTER TABLE `group_member` DISABLE KEYS */;
/*!40000 ALTER TABLE `group_member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `introduction`
--

DROP TABLE IF EXISTS `introduction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `introduction` (
  `introduction_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `body` text,
  `footer` text,
  `title` text,
  PRIMARY KEY (`introduction_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `introduction`
--

LOCK TABLES `introduction` WRITE;
/*!40000 ALTER TABLE `introduction` DISABLE KEYS */;
/*!40000 ALTER TABLE `introduction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learn_category`
--

DROP TABLE IF EXISTS `learn_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `learn_category` (
  `category_id` bigint NOT NULL AUTO_INCREMENT,
  `slug` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `color_class` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `text_class` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_order` int DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `modified_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `uk_slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learn_category`
--

LOCK TABLES `learn_category` WRITE;
/*!40000 ALTER TABLE `learn_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `learn_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learn_item`
--

DROP TABLE IF EXISTS `learn_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `learn_item` (
  `item_id` bigint NOT NULL AUTO_INCREMENT,
  `category_id` bigint NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `subtitle` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `total_lessons` int DEFAULT '0',
  `duration` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `level` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `video_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_order` int DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `modified_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`item_id`),
  KEY `idx_category` (`category_id`),
  KEY `idx_level` (`level`),
  CONSTRAINT `fk_learn_item_category` FOREIGN KEY (`category_id`) REFERENCES `learn_category` (`category_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learn_item`
--

LOCK TABLES `learn_item` WRITE;
/*!40000 ALTER TABLE `learn_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `learn_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learn_item_lesson`
--

DROP TABLE IF EXISTS `learn_item_lesson`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `learn_item_lesson` (
  `lesson_id` bigint NOT NULL AUTO_INCREMENT,
  `item_id` bigint NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `duration` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `video_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `display_order` int DEFAULT '0',
  `topic_id` bigint DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `modified_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`lesson_id`),
  KEY `idx_item` (`item_id`),
  KEY `idx_topic` (`topic_id`),
  CONSTRAINT `fk_learn_lesson_item` FOREIGN KEY (`item_id`) REFERENCES `learn_item` (`item_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_learn_lesson_topic` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`topic_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learn_item_lesson`
--

LOCK TABLES `learn_item_lesson` WRITE;
/*!40000 ALTER TABLE `learn_item_lesson` DISABLE KEYS */;
/*!40000 ALTER TABLE `learn_item_lesson` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learn_item_vocabulary`
--

DROP TABLE IF EXISTS `learn_item_vocabulary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `learn_item_vocabulary` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `lesson_id` bigint NOT NULL,
  `vocabulary_id` bigint DEFAULT NULL,
  `word` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `display_order` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_lesson` (`lesson_id`),
  KEY `idx_vocabulary` (`vocabulary_id`),
  CONSTRAINT `fk_learn_vocab_lesson` FOREIGN KEY (`lesson_id`) REFERENCES `learn_item_lesson` (`lesson_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_learn_vocab_vocabulary` FOREIGN KEY (`vocabulary_id`) REFERENCES `vocabulary` (`vocabulary_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learn_item_vocabulary`
--

LOCK TABLES `learn_item_vocabulary` WRITE;
/*!40000 ALTER TABLE `learn_item_vocabulary` DISABLE KEYS */;
/*!40000 ALTER TABLE `learn_item_vocabulary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lesson`
--

DROP TABLE IF EXISTS `lesson`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lesson` (
  `lesson_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `class_room_id` bigint DEFAULT NULL,
  `image_location` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lesson_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `video_location` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`lesson_id`),
  UNIQUE KEY `lesson_id` (`lesson_id`)
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lesson`
--

LOCK TABLES `lesson` WRITE;
/*!40000 ALTER TABLE `lesson` DISABLE KEYS */;
/*!40000 ALTER TABLE `lesson` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `message_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `content` varchar(255) DEFAULT NULL,
  `media_location` varchar(255) DEFAULT NULL,
  `message_type` enum('TEXT','VIDEO') DEFAULT NULL,
  `status` int NOT NULL,
  `group_member_id` bigint DEFAULT NULL,
  PRIMARY KEY (`message_id`),
  KEY `FKggk1gfstbl8c40323lcq45iij` (`group_member_id`),
  CONSTRAINT `FKggk1gfstbl8c40323lcq45iij` FOREIGN KEY (`group_member_id`) REFERENCES `group_member` (`group_member_id`)
) ENGINE=InnoDB AUTO_INCREMENT=489 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobile`
--

DROP TABLE IF EXISTS `mobile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobile` (
  `mobile_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `mobile_location` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`mobile_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobile`
--

LOCK TABLES `mobile` WRITE;
/*!40000 ALTER TABLE `mobile` DISABLE KEYS */;
INSERT INTO `mobile` VALUES (1,'anonymousUser','2024-07-16 02:27:29.376000','admin@gmail.com','2025-01-17 07:45:36.122000','https://bit.ly/wesign12');
/*!40000 ALTER TABLE `mobile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organization`
--

DROP TABLE IF EXISTS `organization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `organization` (
  `organization_id` bigint NOT NULL AUTO_INCREMENT,
  `parent_id` bigint DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `description` text,
  `slug` varchar(255) DEFAULT NULL,
  `type` enum('EDU_SYSTEM','CENTER','SCHOOL','DEPARTMENT','FACILITY') NOT NULL COMMENT 'Loß║íi tß╗ò chß╗⌐c',
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `ward` varchar(100) DEFAULT NULL,
  `street` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT CURRENT_TIMESTAMP(6),
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `is_manager` tinyint(1) DEFAULT '0' COMMENT 'Phß╗Ñ tr├ích ch├¡nh',
  `assigned_by` varchar(255) DEFAULT NULL COMMENT 'Ng╞░ß╗¥i ph├ón c├┤ng',
  `assigned_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`organization_id`),
  KEY `fk_org_parent` (`parent_id`),
  CONSTRAINT `fk_org_parent` FOREIGN KEY (`parent_id`) REFERENCES `organization` (`organization_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organization`
--

LOCK TABLES `organization` WRITE;
/*!40000 ALTER TABLE `organization` DISABLE KEYS */;
/*!40000 ALTER TABLE `organization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organization_manager`
--

DROP TABLE IF EXISTS `organization_manager`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `organization_manager` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `organization_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `role_in_org` enum('SUPER_ADMIN','CENTER_ADMIN','SCHOOL_ADMIN','TEACHER','STUDENT','USER') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_primary` tinyint(1) DEFAULT '0',
  `assigned_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `assigned_by` bigint DEFAULT NULL COMMENT 'User ID who assigned this role',
  `modified_date` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT 'Last modification date',
  PRIMARY KEY (`id`),
  UNIQUE KEY `organization_id` (`organization_id`,`user_id`),
  KEY `user_id` (`user_id`),
  KEY `fk_org_manager_assigned_by` (`assigned_by`),
  CONSTRAINT `fk_org_manager_assigned_by` FOREIGN KEY (`assigned_by`) REFERENCES `user` (`user_id`) ON DELETE SET NULL,
  CONSTRAINT `organization_manager_ibfk_1` FOREIGN KEY (`organization_id`) REFERENCES `organization` (`organization_id`),
  CONSTRAINT `organization_manager_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organization_manager`
--

LOCK TABLES `organization_manager` WRITE;
/*!40000 ALTER TABLE `organization_manager` DISABLE KEYS */;
INSERT INTO `organization_manager` VALUES (1,1,1,'SUPER_ADMIN',1,'2026-01-04 16:29:16',NULL,NULL),(3,9,310,'TEACHER',0,'2026-01-31 10:10:01',NULL,NULL),(4,9,311,'TEACHER',0,'2026-01-31 13:07:26',NULL,NULL),(5,3,16,'TEACHER',0,'2026-03-20 03:21:14',NULL,NULL);
/*!40000 ALTER TABLE `organization_manager` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `part`
--

DROP TABLE IF EXISTS `part`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `part` (
  `part_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `lesson_id` bigint DEFAULT NULL,
  `part_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`part_id`)
) ENGINE=InnoDB AUTO_INCREMENT=357 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `part`
--

LOCK TABLES `part` WRITE;
/*!40000 ALTER TABLE `part` DISABLE KEYS */;
/*!40000 ALTER TABLE `part` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `part_image`
--

DROP TABLE IF EXISTS `part_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `part_image` (
  `part_image_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `image_location` varchar(255) DEFAULT NULL,
  `part_id` bigint DEFAULT NULL,
  PRIMARY KEY (`part_image_id`)
) ENGINE=InnoDB AUTO_INCREMENT=195 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `part_image`
--

LOCK TABLES `part_image` WRITE;
/*!40000 ALTER TABLE `part_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `part_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `part_video`
--

DROP TABLE IF EXISTS `part_video`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `part_video` (
  `part_video_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `part_id` bigint DEFAULT NULL,
  `video_location` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`part_video_id`)
) ENGINE=InnoDB AUTO_INCREMENT=252 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `part_video`
--

LOCK TABLES `part_video` WRITE;
/*!40000 ALTER TABLE `part_video` DISABLE KEYS */;
/*!40000 ALTER TABLE `part_video` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `part_view`
--

DROP TABLE IF EXISTS `part_view`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `part_view` (
  `part_view_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `part_id` bigint NOT NULL DEFAULT '0',
  `lesson_id` bigint DEFAULT NULL,
  `last_viewed_at` timestamp NOT NULL,
  `view_count` bigint DEFAULT '0',
  `created_date` timestamp NULL DEFAULT NULL,
  `completed` tinyint(1) DEFAULT '0',
  `progress_percent` decimal(5,2) DEFAULT '0.00',
  PRIMARY KEY (`part_view_id`),
  KEY `fk_partview_user` (`user_id`),
  KEY `fk_partview_part` (`part_id`),
  KEY `fk_partview_lesson` (`lesson_id`),
  CONSTRAINT `fk_partview_lesson` FOREIGN KEY (`lesson_id`) REFERENCES `lesson` (`lesson_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_partview_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `part_view`
--

LOCK TABLES `part_view` WRITE;
/*!40000 ALTER TABLE `part_view` DISABLE KEYS */;
/*!40000 ALTER TABLE `part_view` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL,
  `used` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_token` (`token`),
  KEY `idx_email` (`email`),
  KEY `idx_user_id` (`user_id`),
  CONSTRAINT `password_reset_tokens_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
INSERT INTO `password_reset_tokens` VALUES (10,298,'vuquangduy13032002@gmail.com','0cd81b3b898549425e9bd4cd2aba6c3efe78980df7254b73762d0eb1bdc40d7e','2026-01-10 12:33:11',0,'2026-01-10 05:18:37'),(13,305,'quangduy13032002@gmail.com','76872a895e8aeea8843236c4200c408427d79421e9a64b318a97939d0fc81468','2026-01-10 12:42:01',1,'2026-01-10 05:27:26');
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `permission_id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `module` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Module: USER, CLASS, COURSE, ORGANIZATION, etc.',
  `created_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`permission_id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_code` (`code`),
  KEY `idx_module` (`module`)
) ENGINE=InnoDB AUTO_INCREMENT=118 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question`
--

DROP TABLE IF EXISTS `question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question` (
  `question_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `content` varchar(2000) DEFAULT NULL,
  `explanation` varchar(2000) DEFAULT NULL,
  `image_location` varchar(255) DEFAULT NULL,
  `video_location` varchar(255) DEFAULT NULL,
  `file_type` enum('EXISTED','NOT_EXISTED','TEXT') DEFAULT NULL,
  `question_type` enum('MULTIPLE_ANSWERS','ONE_ANSWER') DEFAULT NULL,
  `class_room_id` bigint DEFAULT NULL,
  PRIMARY KEY (`question_id`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question`
--

LOCK TABLES `question` WRITE;
/*!40000 ALTER TABLE `question` DISABLE KEYS */;
/*!40000 ALTER TABLE `question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_exam_mapping`
--

DROP TABLE IF EXISTS `question_exam_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_exam_mapping` (
  `question_exam_id` bigint NOT NULL AUTO_INCREMENT,
  `exam_id` bigint NOT NULL,
  `question_id` bigint NOT NULL,
  PRIMARY KEY (`question_exam_id`)
) ENGINE=InnoDB AUTO_INCREMENT=251 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_exam_mapping`
--

LOCK TABLES `question_exam_mapping` WRITE;
/*!40000 ALTER TABLE `question_exam_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_exam_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_exam_user_mapping`
--

DROP TABLE IF EXISTS `question_exam_user_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_exam_user_mapping` (
  `question_exam_user_id` bigint NOT NULL AUTO_INCREMENT,
  `exam_id` bigint NOT NULL,
  `question_id` bigint DEFAULT NULL,
  `selected_answers` varbinary(255) DEFAULT NULL,
  `minio_path` varchar(500) DEFAULT NULL COMMENT '─É╞░ß╗¥ng dß║½n file trong MinIO',
  `ai_answer` varchar(255) DEFAULT NULL,
  `ai_result` bit(1) DEFAULT NULL,
  `is_correct` bit(1) DEFAULT NULL,
  `score` float DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `attempt_id` bigint DEFAULT NULL,
  PRIMARY KEY (`question_exam_user_id`),
  KEY `fk_attempt` (`attempt_id`),
  CONSTRAINT `fk_attempt` FOREIGN KEY (`attempt_id`) REFERENCES `exam_attempt` (`attempt_id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_exam_user_mapping`
--

LOCK TABLES `question_exam_user_mapping` WRITE;
/*!40000 ALTER TABLE `question_exam_user_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_exam_user_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `code` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role_code` varchar(255) NOT NULL,
  `permission_code` varchar(255) NOT NULL,
  `created_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_role_permission` (`role_code`,`permission_code`),
  KEY `idx_role` (`role_code`),
  KEY `idx_permission` (`permission_code`),
  CONSTRAINT `fk_role_permission_role` FOREIGN KEY (`role_code`) REFERENCES `role` (`code`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=910 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sequence_table`
--

DROP TABLE IF EXISTS `sequence_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sequence_table` (
  `SEQUENCE_NAME` varchar(255) CHARACTER SET latin1 COLLATE latin1_bin NOT NULL,
  `NEXT_VAL` bigint NOT NULL,
  PRIMARY KEY (`SEQUENCE_NAME`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sequence_table`
--

LOCK TABLES `sequence_table` WRITE;
/*!40000 ALTER TABLE `sequence_table` DISABLE KEYS */;
INSERT INTO `sequence_table` VALUES ('org.apache.hadoop.hive.metastore.model.MNotificationLog',1);
/*!40000 ALTER TABLE `sequence_table` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_profile`
--

DROP TABLE IF EXISTS `student_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_profile` (
  `student_profile_id` bigint NOT NULL AUTO_INCREMENT,
  `student_code` varchar(255) NOT NULL,
  `user_id` bigint NOT NULL,
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `modified_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`student_profile_id`),
  KEY `fk_student_profile_user` (`user_id`),
  CONSTRAINT `fk_student_profile_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_profile`
--

LOCK TABLES `student_profile` WRITE;
/*!40000 ALTER TABLE `student_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token`
--

DROP TABLE IF EXISTS `token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token` (
  `id` int NOT NULL,
  `expired` bit(1) NOT NULL,
  `revoked` bit(1) NOT NULL,
  `token` varchar(255) DEFAULT NULL,
  `token_type` enum('BEARER') DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_pddrhgwxnms2aceeku9s2ewy5` (`token`),
  KEY `FKiblu4cjwvyntq3ugo31klp1c6` (`user_id`),
  CONSTRAINT `FKiblu4cjwvyntq3ugo31klp1c6` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token`
--

LOCK TABLES `token` WRITE;
/*!40000 ALTER TABLE `token` DISABLE KEYS */;
INSERT INTO `token` VALUES (1,_binary '\0',_binary '\0','eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbkBtYWlsLmNvbSIsImlhdCI6MTczMzIxODA1MiwiZXhwIjoxNzMzMzA0NDUyfQ.TxWsnPUyZU6k3c1pGPai8x0GSmh_Ci9I6GM_YgUP2sU','BEARER',1),(2,_binary '\0',_binary '\0','eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJtYW5hZ2VyQG1haWwuY29tIiwiaWF0IjoxNzMzMjE4MDUyLCJleHAiOjE3MzMzMDQ0NTJ9.4NbdYJUF64vR8XQKMa_Y5fQ-abNs5gKDjv3czZfC7C4','BEARER',2);
/*!40000 ALTER TABLE `token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token_seq`
--

DROP TABLE IF EXISTS `token_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token_seq` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token_seq`
--

LOCK TABLES `token_seq` WRITE;
/*!40000 ALTER TABLE `token_seq` DISABLE KEYS */;
INSERT INTO `token_seq` VALUES (101);
/*!40000 ALTER TABLE `token_seq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool`
--

DROP TABLE IF EXISTS `tool`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tool` (
  `tool_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(100) NOT NULL,
  `description` text,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT CURRENT_TIMESTAMP(6),
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`tool_id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool`
--

LOCK TABLES `tool` WRITE;
/*!40000 ALTER TABLE `tool` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_chatbox_ai`
--

DROP TABLE IF EXISTS `tool_chatbox_ai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tool_chatbox_ai` (
  `chatbox_id` bigint NOT NULL AUTO_INCREMENT,
  `tool_id` bigint NOT NULL,
  `model_name` varchar(255) NOT NULL,
  `description` text,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  PRIMARY KEY (`chatbox_id`),
  KEY `fk_tool_chatbox_tool` (`tool_id`),
  CONSTRAINT `fk_tool_chatbox_tool` FOREIGN KEY (`tool_id`) REFERENCES `tool` (`tool_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_chatbox_ai`
--

LOCK TABLES `tool_chatbox_ai` WRITE;
/*!40000 ALTER TABLE `tool_chatbox_ai` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_chatbox_ai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_game`
--

DROP TABLE IF EXISTS `tool_game`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tool_game` (
  `game_id` bigint NOT NULL AUTO_INCREMENT,
  `tool_id` bigint NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text,
  `thumbnail` varchar(500) DEFAULT NULL,
  `game_url` varchar(500) DEFAULT NULL,
  `status` enum('ACTIVE','INACTIVE') DEFAULT 'ACTIVE',
  PRIMARY KEY (`game_id`),
  KEY `fk_tool_game_tool` (`tool_id`),
  CONSTRAINT `fk_tool_game_tool` FOREIGN KEY (`tool_id`) REFERENCES `tool` (`tool_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_game`
--

LOCK TABLES `tool_game` WRITE;
/*!40000 ALTER TABLE `tool_game` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_game` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_notification`
--

DROP TABLE IF EXISTS `tool_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tool_notification` (
  `notification_id` bigint NOT NULL AUTO_INCREMENT,
  `tool_id` bigint NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `sender_id` bigint DEFAULT NULL,
  `target_type` enum('USER','CLASS','ORGANIZATION','ALL') DEFAULT 'USER',
  `target_id` bigint DEFAULT NULL,
  `status` enum('UNREAD','READ','SENT') DEFAULT 'SENT',
  `created_date` datetime(6) DEFAULT CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`notification_id`),
  KEY `fk_tool_notification_tool` (`tool_id`),
  CONSTRAINT `fk_tool_notification_tool` FOREIGN KEY (`tool_id`) REFERENCES `tool` (`tool_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_notification`
--

LOCK TABLES `tool_notification` WRITE;
/*!40000 ALTER TABLE `tool_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `topic`
--

DROP TABLE IF EXISTS `topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `topic` (
  `topic_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_id` bigint DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `content` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `image_location` varchar(255) DEFAULT NULL,
  `video_location` varchar(255) DEFAULT NULL,
  `is_private` bit(1) NOT NULL,
  `class_room_id` bigint DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`topic_id`),
  KEY `FKt6gi0syesp2u7dh9ahh5qckoe` (`class_room_id`),
  KEY `idx_topic_is_private` (`is_private`),
  KEY `fk_topic_creator_id` (`created_id`),
  CONSTRAINT `fk_topic_classroom` FOREIGN KEY (`class_room_id`) REFERENCES `class_room` (`class_room_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_topic_creator_id` FOREIGN KEY (`created_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `FKt6gi0syesp2u7dh9ahh5qckoe` FOREIGN KEY (`class_room_id`) REFERENCES `class_room` (`class_room_id`)
) ENGINE=InnoDB AUTO_INCREMENT=136 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `topic`
--

LOCK TABLES `topic` WRITE;
/*!40000 ALTER TABLE `topic` DISABLE KEYS */;
/*!40000 ALTER TABLE `topic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `avatar_location` varchar(255) DEFAULT NULL,
  `birth_day` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `gender` enum('FEMALE','MALE') DEFAULT NULL,
  `is_oauth2` bit(1) DEFAULT b'0',
  `approval_status` enum('PENDING','APPROVED','REJECTED') DEFAULT 'PENDING' COMMENT 'Trß║íng th├íi ph├¬ duyß╗çt: PENDING=Chß╗¥ duyß╗çt, APPROVED=─É├ú duyß╗çt, REJECTED=Tß╗½ chß╗æi',
  `approved_by` varchar(255) DEFAULT NULL COMMENT 'Email cß╗ºa ng╞░ß╗¥i ph├¬ duyß╗çt/tß╗½ chß╗æi t├ái khoß║ún',
  `approved_date` datetime DEFAULT NULL COMMENT 'Ng├áy ph├¬ duyß╗çt/tß╗½ chß╗æi t├ái khoß║ún',
  `rejection_reason` text COMMENT 'L├╜ do tß╗½ chß╗æi t├ái khoß║ún (chß╗ë khi REJECTED)',
  `name` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `phone_number` varchar(255) DEFAULT NULL,
  `code` varchar(255) DEFAULT NULL,
  `is_deleted` bit(1) NOT NULL,
  `username` varchar(255) DEFAULT NULL,
  `slug` varchar(255) DEFAULT NULL,
  `house_street` varchar(255) DEFAULT NULL,
  `ward` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `is_super_admin` tinyint(1) DEFAULT '0',
  `status` enum('active','inactive') DEFAULT 'active' COMMENT 'Trß║íng th├íi hoß║ít ─æß╗Öng',
  `grade` tinyint DEFAULT NULL COMMENT 'Lß╗¢p hß╗ìc (1-5) - chß╗ë d├ánh cho hß╗ìc sinh',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `UK_ob8kqyqqgmefl0aco34akdtpe` (`email`),
  UNIQUE KEY `username` (`username`),
  KEY `FKn3vfurnv0p6bkguxp0os8t1t7` (`code`),
  KEY `idx_approval_status` (`approval_status`),
  CONSTRAINT `fk_user_role` FOREIGN KEY (`code`) REFERENCES `role` (`code`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=312 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_exam_mapping`
--

DROP TABLE IF EXISTS `user_exam_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_exam_mapping` (
  `user_exam_id` bigint NOT NULL AUTO_INCREMENT,
  `exam_id` bigint NOT NULL,
  `is_finish` bit(1) NOT NULL,
  `score` float NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`user_exam_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1618 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_exam_mapping`
--

LOCK TABLES `user_exam_mapping` WRITE;
/*!40000 ALTER TABLE `user_exam_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_exam_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_learn_progress`
--

DROP TABLE IF EXISTS `user_learn_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_learn_progress` (
  `progress_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `item_id` bigint NOT NULL,
  `progress_percent` int DEFAULT '0',
  `completed_lessons` int DEFAULT '0',
  `total_lessons` int DEFAULT '0',
  `last_lesson_id` bigint DEFAULT NULL,
  `last_activity_at` datetime DEFAULT NULL,
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `modified_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`progress_id`),
  UNIQUE KEY `uk_user_item` (`user_id`,`item_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_item` (`item_id`),
  CONSTRAINT `fk_learn_progress_item` FOREIGN KEY (`item_id`) REFERENCES `learn_item` (`item_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_learn_progress_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_learn_progress`
--

LOCK TABLES `user_learn_progress` WRITE;
/*!40000 ALTER TABLE `user_learn_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_learn_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_log`
--

DROP TABLE IF EXISTS `user_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_log` (
  `log_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL COMMENT 'User thß╗▒c hiß╗çn h├ánh ─æß╗Öng (NULL nß║┐u l├á system hoß║╖c anonymous)',
  `action` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Loß║íi h├ánh ─æß╗Öng (PERMISSION_GRANTED, LOGIN, etc.)',
  `resource` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'T├ái nguy├¬n bß╗ï t├íc ─æß╗Öng (user_permissions, user, etc.)',
  `resource_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ID cß╗ºa resource (optional)',
  `details` json DEFAULT NULL COMMENT 'Chi tiß║┐t h├ánh ─æß╗Öng dß║íng JSON',
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'IPv4 hoß║╖c IPv6',
  `user_agent` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT 'Browser/device information',
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'SUCCESS' COMMENT 'SUCCESS, FAILED, DENIED',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_resource` (`resource`),
  KEY `idx_created_at` (`created_at`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_log`
--

LOCK TABLES `user_log` WRITE;
/*!40000 ALTER TABLE `user_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_permissions`
--

DROP TABLE IF EXISTS `user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_code` varchar(255) NOT NULL,
  `is_granted` tinyint(1) DEFAULT '1' COMMENT '1: granted, 0: denied',
  `organization_id` bigint DEFAULT NULL COMMENT 'NULL = global permission',
  `granted_by` varchar(255) DEFAULT NULL,
  `created_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_permission` (`user_id`,`permission_code`,`organization_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_permission` (`permission_code`),
  CONSTRAINT `fk_user_permissions_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_permissions`
--

LOCK TABLES `user_permissions` WRITE;
/*!40000 ALTER TABLE `user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_practice_mapping`
--

DROP TABLE IF EXISTS `user_practice_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_practice_mapping` (
  `user_practice_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `exam_id` bigint NOT NULL,
  `score` decimal(10,2) DEFAULT NULL,
  `is_finish` bit(1) DEFAULT b'0',
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_practice_id`),
  KEY `fk_user_practice_mapping_user` (`user_id`),
  KEY `fk_user_practice_mapping_exam` (`exam_id`),
  CONSTRAINT `fk_user_practice_mapping_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=269 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_practice_mapping`
--

LOCK TABLES `user_practice_mapping` WRITE;
/*!40000 ALTER TABLE `user_practice_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_practice_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_statistic`
--

DROP TABLE IF EXISTS `user_statistic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_statistic` (
  `user_statistic_id` bigint NOT NULL AUTO_INCREMENT,
  `total_classes_joined` bigint DEFAULT '0',
  `vocabulary_views` bigint DEFAULT '0',
  `tests_completed` bigint DEFAULT '0',
  `average_score` decimal(10,2) DEFAULT '0.00',
  `user_id` bigint NOT NULL,
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `modified_date` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `lesson_views` bigint DEFAULT '0',
  PRIMARY KEY (`user_statistic_id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `fk_user_statistic_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=282 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_statistic`
--

LOCK TABLES `user_statistic` WRITE;
/*!40000 ALTER TABLE `user_statistic` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_statistic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_vocabulary_progress`
--

DROP TABLE IF EXISTS `user_vocabulary_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_vocabulary_progress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `vocabulary_id` bigint NOT NULL,
  `is_learned` tinyint(1) DEFAULT '0',
  `learned_at` datetime DEFAULT NULL,
  `review_count` int DEFAULT '0',
  `last_review_at` datetime DEFAULT NULL,
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_vocab` (`user_id`,`vocabulary_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_vocabulary` (`vocabulary_id`),
  CONSTRAINT `fk_vocab_progress_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_vocab_progress_vocabulary` FOREIGN KEY (`vocabulary_id`) REFERENCES `vocabulary` (`vocabulary_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_vocabulary_progress`
--

LOCK TABLES `user_vocabulary_progress` WRITE;
/*!40000 ALTER TABLE `user_vocabulary_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_vocabulary_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_class_room_stats`
--

DROP TABLE IF EXISTS `v_class_room_stats`;
/*!50001 DROP VIEW IF EXISTS `v_class_room_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_class_room_stats` AS SELECT 
 1 AS `class_room_id`,
 1 AS `class_name`,
 1 AS `class_level`,
 1 AS `class_code`,
 1 AS `status`,
 1 AS `is_active`,
 1 AS `teacher_id`,
 1 AS `organization_id`,
 1 AS `student_count`,
 1 AS `teacher_count`,
 1 AS `lesson_count`,
 1 AS `topic_count`,
 1 AS `vocabulary_count`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_class_students`
--

DROP TABLE IF EXISTS `v_class_students`;
/*!50001 DROP VIEW IF EXISTS `v_class_students`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_class_students` AS SELECT 
 1 AS `class_student_id`,
 1 AS `class_room_id`,
 1 AS `student_id`,
 1 AS `student_name`,
 1 AS `student_email`,
 1 AS `avatar`,
 1 AS `status`,
 1 AS `joined_at`,
 1 AS `parts_viewed`,
 1 AS `vocabularies_viewed`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_class_teachers`
--

DROP TABLE IF EXISTS `v_class_teachers`;
/*!50001 DROP VIEW IF EXISTS `v_class_teachers`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_class_teachers` AS SELECT 
 1 AS `class_teacher_id`,
 1 AS `class_room_id`,
 1 AS `teacher_id`,
 1 AS `teacher_name`,
 1 AS `teacher_email`,
 1 AS `avatar`,
 1 AS `assigned_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_lesson_full`
--

DROP TABLE IF EXISTS `v_lesson_full`;
/*!50001 DROP VIEW IF EXISTS `v_lesson_full`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_lesson_full` AS SELECT 
 1 AS `lesson_id`,
 1 AS `lesson_name`,
 1 AS `class_room_id`,
 1 AS `class_name`,
 1 AS `image_location`,
 1 AS `video_location`,
 1 AS `created_by`,
 1 AS `created_date`,
 1 AS `modified_by`,
 1 AS `modified_date`,
 1 AS `part_count`,
 1 AS `vocabulary_count`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_lesson_stats`
--

DROP TABLE IF EXISTS `v_lesson_stats`;
/*!50001 DROP VIEW IF EXISTS `v_lesson_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_lesson_stats` AS SELECT 
 1 AS `lesson_id`,
 1 AS `lesson_name`,
 1 AS `class_room_id`,
 1 AS `class_name`,
 1 AS `part_count`,
 1 AS `vocabulary_count`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_organization_user_stats`
--

DROP TABLE IF EXISTS `v_organization_user_stats`;
/*!50001 DROP VIEW IF EXISTS `v_organization_user_stats`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_organization_user_stats` AS SELECT 
 1 AS `id`,
 1 AS `name`,
 1 AS `type`,
 1 AS `address`,
 1 AS `city`,
 1 AS `status`,
 1 AS `studentCount`,
 1 AS `teacherCount`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_student_class_progress`
--

DROP TABLE IF EXISTS `v_student_class_progress`;
/*!50001 DROP VIEW IF EXISTS `v_student_class_progress`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_student_class_progress` AS SELECT 
 1 AS `class_student_id`,
 1 AS `student_id`,
 1 AS `class_room_id`,
 1 AS `class_name`,
 1 AS `class_level`,
 1 AS `student_name`,
 1 AS `student_email`,
 1 AS `completed_lessons`,
 1 AS `total_lessons`,
 1 AS `completed_parts`,
 1 AS `total_parts`,
 1 AS `learned_vocabularies`,
 1 AS `total_vocabularies`,
 1 AS `last_activity_at`,
 1 AS `joined_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_topic_full`
--

DROP TABLE IF EXISTS `v_topic_full`;
/*!50001 DROP VIEW IF EXISTS `v_topic_full`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_topic_full` AS SELECT 
 1 AS `topic_id`,
 1 AS `name`,
 1 AS `description`,
 1 AS `image_location`,
 1 AS `video_location`,
 1 AS `is_private`,
 1 AS `class_room_id`,
 1 AS `class_name`,
 1 AS `creator_id`,
 1 AS `creator_name`,
 1 AS `created_by`,
 1 AS `created_date`,
 1 AS `modified_by`,
 1 AS `modified_date`,
 1 AS `vocabulary_count`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_user_full_info`
--

DROP TABLE IF EXISTS `v_user_full_info`;
/*!50001 DROP VIEW IF EXISTS `v_user_full_info`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_user_full_info` AS SELECT 
 1 AS `id`,
 1 AS `name`,
 1 AS `email`,
 1 AS `role`,
 1 AS `status`,
 1 AS `avatar`,
 1 AS `phone`,
 1 AS `createdAt`,
 1 AS `facilityId`,
 1 AS `roleInOrg`,
 1 AS `grade`,
 1 AS `gender`,
 1 AS `birthDay`,
 1 AS `address`,
 1 AS `facility_name`,
 1 AS `facility_type`,
 1 AS `role_name`,
 1 AS `is_deleted`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_user_part_progress`
--

DROP TABLE IF EXISTS `v_user_part_progress`;
/*!50001 DROP VIEW IF EXISTS `v_user_part_progress`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_user_part_progress` AS SELECT 
 1 AS `part_view_id`,
 1 AS `user_id`,
 1 AS `part_id`,
 1 AS `part_name`,
 1 AS `lesson_id`,
 1 AS `lesson_name`,
 1 AS `class_room_id`,
 1 AS `class_name`,
 1 AS `view_count`,
 1 AS `completed`,
 1 AS `progress_percent`,
 1 AS `last_viewed_at`,
 1 AS `created_date`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_users_by_organization`
--

DROP TABLE IF EXISTS `v_users_by_organization`;
/*!50001 DROP VIEW IF EXISTS `v_users_by_organization`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_users_by_organization` AS SELECT 
 1 AS `id`,
 1 AS `name`,
 1 AS `email`,
 1 AS `role`,
 1 AS `status`,
 1 AS `avatar`,
 1 AS `facilityId`,
 1 AS `roleInOrg`,
 1 AS `isPrimary`,
 1 AS `facility_name`,
 1 AS `facility_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_vocabulary_full`
--

DROP TABLE IF EXISTS `v_vocabulary_full`;
/*!50001 DROP VIEW IF EXISTS `v_vocabulary_full`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_vocabulary_full` AS SELECT 
 1 AS `vocabulary_id`,
 1 AS `content`,
 1 AS `description`,
 1 AS `vocabulary_type`,
 1 AS `slug`,
 1 AS `status`,
 1 AS `is_private`,
 1 AS `images_path`,
 1 AS `videos_path`,
 1 AS `note`,
 1 AS `topic_id`,
 1 AS `topic_name`,
 1 AS `lesson_id`,
 1 AS `lesson_name`,
 1 AS `part_id`,
 1 AS `part_name`,
 1 AS `class_room_id`,
 1 AS `class_name`,
 1 AS `creator_id`,
 1 AS `creator_name`,
 1 AS `created_by`,
 1 AS `created_date`,
 1 AS `modified_by`,
 1 AS `modified_date`,
 1 AS `total_views`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `version`
--

DROP TABLE IF EXISTS `version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `version` (
  `VER_ID` bigint NOT NULL,
  `SCHEMA_VERSION` varchar(127) NOT NULL,
  `VERSION_COMMENT` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`VER_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `version`
--

LOCK TABLES `version` WRITE;
/*!40000 ALTER TABLE `version` DISABLE KEYS */;
INSERT INTO `version` VALUES (1,'3.1.0','Hive release version 3.1.0');
/*!40000 ALTER TABLE `version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `video_exam_mapping`
--

DROP TABLE IF EXISTS `video_exam_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `video_exam_mapping` (
  `video_exam_id` bigint NOT NULL AUTO_INCREMENT,
  `video_url` varchar(255) NOT NULL,
  `exam_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `created_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `ai_answer` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`video_exam_id`),
  KEY `fk_user` (`user_id`),
  CONSTRAINT `fk_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=299 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `video_exam_mapping`
--

LOCK TABLES `video_exam_mapping` WRITE;
/*!40000 ALTER TABLE `video_exam_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `video_exam_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocabulary`
--

DROP TABLE IF EXISTS `vocabulary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocabulary` (
  `vocabulary_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `content` varchar(255) DEFAULT NULL,
  `topic_id` bigint DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `vocabulary_type` enum('PARAGRAPH','SENTENCE','WORD') DEFAULT NULL,
  `part_id` bigint DEFAULT NULL,
  `lesson_id` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_private` bit(1) NOT NULL DEFAULT b'0',
  `class_room_id` bigint DEFAULT NULL,
  `images_path` text,
  `videos_path` text,
  `slug` varchar(255) DEFAULT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') NOT NULL DEFAULT 'PENDING',
  `created_id` bigint NOT NULL,
  PRIMARY KEY (`vocabulary_id`),
  KEY `FKdtg3eitwnfxdem5ick6ocp3kn` (`topic_id`),
  KEY `idx_vocabulary_id` (`vocabulary_id`),
  KEY `idx_vocabulary_combined` (`topic_id`,`vocabulary_type`,`created_by`),
  KEY `fk_vocabulary_classroom` (`class_room_id`),
  CONSTRAINT `fk_vocabulary_classroom` FOREIGN KEY (`class_room_id`) REFERENCES `class_room` (`class_room_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_vocabulary_topic` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`topic_id`) ON DELETE SET NULL,
  CONSTRAINT `FKdtg3eitwnfxdem5ick6ocp3kn` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`topic_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2699 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocabulary`
--

LOCK TABLES `vocabulary` WRITE;
/*!40000 ALTER TABLE `vocabulary` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocabulary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocabulary_exam_mapping`
--

DROP TABLE IF EXISTS `vocabulary_exam_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocabulary_exam_mapping` (
  `vocabulary_exam_id` bigint NOT NULL AUTO_INCREMENT,
  `vocabulary_id` bigint DEFAULT NULL,
  `exam_id` bigint NOT NULL,
  `content` varchar(256) DEFAULT NULL,
  `created_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`vocabulary_exam_id`),
  KEY `fk_exam` (`exam_id`),
  KEY `fk_vocabulary` (`vocabulary_id`),
  CONSTRAINT `fk_vocabulary` FOREIGN KEY (`vocabulary_id`) REFERENCES `vocabulary` (`vocabulary_id`)
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocabulary_exam_mapping`
--

LOCK TABLES `vocabulary_exam_mapping` WRITE;
/*!40000 ALTER TABLE `vocabulary_exam_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocabulary_exam_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocabulary_image`
--

DROP TABLE IF EXISTS `vocabulary_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocabulary_image` (
  `vocabulary_image_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `image_location` varchar(255) DEFAULT NULL,
  `is_primary` bit(1) NOT NULL,
  `vocabulary_id` bigint DEFAULT NULL,
  PRIMARY KEY (`vocabulary_image_id`),
  KEY `FKlnpmkqih9sri9d63gj3foc5oo` (`vocabulary_id`),
  CONSTRAINT `FKlnpmkqih9sri9d63gj3foc5oo` FOREIGN KEY (`vocabulary_id`) REFERENCES `vocabulary` (`vocabulary_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2609 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocabulary_image`
--

LOCK TABLES `vocabulary_image` WRITE;
/*!40000 ALTER TABLE `vocabulary_image` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocabulary_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocabulary_video`
--

DROP TABLE IF EXISTS `vocabulary_video`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocabulary_video` (
  `vocabulary_video_id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` varchar(255) DEFAULT NULL,
  `created_date` datetime(6) DEFAULT NULL,
  `modified_by` varchar(255) DEFAULT NULL,
  `modified_date` datetime(6) DEFAULT NULL,
  `is_primary` bit(1) NOT NULL,
  `video_location` varchar(255) DEFAULT NULL,
  `vocabulary_id` bigint DEFAULT NULL,
  PRIMARY KEY (`vocabulary_video_id`),
  KEY `FKrg36qrk5reo4fidttev18jmuf` (`vocabulary_id`),
  CONSTRAINT `FKrg36qrk5reo4fidttev18jmuf` FOREIGN KEY (`vocabulary_id`) REFERENCES `vocabulary` (`vocabulary_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2628 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocabulary_video`
--

LOCK TABLES `vocabulary_video` WRITE;
/*!40000 ALTER TABLE `vocabulary_video` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocabulary_video` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vocabulary_view`
--

DROP TABLE IF EXISTS `vocabulary_view`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vocabulary_view` (
  `vocabulary_view_id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `vocabulary_id` bigint NOT NULL,
  `last_viewed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `view_count` bigint NOT NULL DEFAULT '1',
  `created_date` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`vocabulary_view_id`),
  KEY `fk_vocabulary_view_user` (`user_id`),
  KEY `fk_vocabulary_view_vocabulary` (`vocabulary_id`),
  CONSTRAINT `fk_vocabulary_view_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_vocabulary_view_vocabulary` FOREIGN KEY (`vocabulary_id`) REFERENCES `vocabulary` (`vocabulary_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vocabulary_view`
--

LOCK TABLES `vocabulary_view` WRITE;
/*!40000 ALTER TABLE `vocabulary_view` DISABLE KEYS */;
/*!40000 ALTER TABLE `vocabulary_view` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `v_class_room_stats`
--

/*!50001 DROP VIEW IF EXISTS `v_class_room_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_class_room_stats` AS select `c`.`class_room_id` AS `class_room_id`,`c`.`content` AS `class_name`,`c`.`class_level` AS `class_level`,`c`.`class_code` AS `class_code`,`c`.`status` AS `status`,`c`.`is_active` AS `is_active`,`c`.`teacher_id` AS `teacher_id`,`c`.`organization_id` AS `organization_id`,count(distinct `cs`.`user_id`) AS `student_count`,count(distinct `ct`.`user_id`) AS `teacher_count`,count(distinct `l`.`lesson_id`) AS `lesson_count`,count(distinct `t`.`topic_id`) AS `topic_count`,count(distinct `v`.`vocabulary_id`) AS `vocabulary_count` from (((((`class_room` `c` left join `class_student` `cs` on((`c`.`class_room_id` = `cs`.`class_room_id`))) left join `class_teacher` `ct` on((`c`.`class_room_id` = `ct`.`class_room_id`))) left join `lesson` `l` on((`c`.`class_room_id` = `l`.`class_room_id`))) left join `topic` `t` on((`c`.`class_room_id` = `t`.`class_room_id`))) left join `vocabulary` `v` on(((`c`.`class_room_id` = `v`.`class_room_id`) and (`v`.`status` = 'APPROVED')))) group by `c`.`class_room_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_class_students`
--

/*!50001 DROP VIEW IF EXISTS `v_class_students`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_class_students` AS select `cs`.`class_student_id` AS `class_student_id`,`cs`.`class_room_id` AS `class_room_id`,`cs`.`user_id` AS `student_id`,`u`.`name` AS `student_name`,`u`.`email` AS `student_email`,`u`.`avatar_location` AS `avatar`,`cs`.`status` AS `status`,`cs`.`created_date` AS `joined_at`,(select count(0) from `part_view` `pv` where (`pv`.`user_id` = `cs`.`user_id`)) AS `parts_viewed`,(select count(0) from `vocabulary_view` `vv` where (`vv`.`user_id` = `cs`.`user_id`)) AS `vocabularies_viewed` from (`class_student` `cs` join `user` `u` on((`cs`.`user_id` = `u`.`user_id`))) where (`u`.`is_deleted` = 0) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_class_teachers`
--

/*!50001 DROP VIEW IF EXISTS `v_class_teachers`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_class_teachers` AS select `ct`.`class_teacher_id` AS `class_teacher_id`,`ct`.`class_room_id` AS `class_room_id`,`ct`.`user_id` AS `teacher_id`,`u`.`name` AS `teacher_name`,`u`.`email` AS `teacher_email`,`u`.`avatar_location` AS `avatar`,`ct`.`created_date` AS `assigned_at` from (`class_teacher` `ct` join `user` `u` on((`ct`.`user_id` = `u`.`user_id`))) where (`u`.`is_deleted` = 0) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_lesson_full`
--

/*!50001 DROP VIEW IF EXISTS `v_lesson_full`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_lesson_full` AS select `l`.`lesson_id` AS `lesson_id`,`l`.`lesson_name` AS `lesson_name`,`l`.`class_room_id` AS `class_room_id`,`c`.`content` AS `class_name`,`l`.`image_location` AS `image_location`,`l`.`video_location` AS `video_location`,`l`.`created_by` AS `created_by`,`l`.`created_date` AS `created_date`,`l`.`modified_by` AS `modified_by`,`l`.`modified_date` AS `modified_date`,count(distinct `p`.`part_id`) AS `part_count`,count(distinct `v`.`vocabulary_id`) AS `vocabulary_count` from (((`lesson` `l` left join `class_room` `c` on((`l`.`class_room_id` = `c`.`class_room_id`))) left join `part` `p` on((`l`.`lesson_id` = `p`.`lesson_id`))) left join `vocabulary` `v` on(((`l`.`lesson_id` = `v`.`lesson_id`) and (`v`.`status` = 'APPROVED')))) group by `l`.`lesson_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_lesson_stats`
--

/*!50001 DROP VIEW IF EXISTS `v_lesson_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_lesson_stats` AS select `l`.`lesson_id` AS `lesson_id`,`l`.`lesson_name` AS `lesson_name`,`l`.`class_room_id` AS `class_room_id`,`c`.`content` AS `class_name`,count(distinct `p`.`part_id`) AS `part_count`,count(distinct `v`.`vocabulary_id`) AS `vocabulary_count` from (((`lesson` `l` left join `class_room` `c` on((`l`.`class_room_id` = `c`.`class_room_id`))) left join `part` `p` on((`l`.`lesson_id` = `p`.`lesson_id`))) left join `vocabulary` `v` on(((`l`.`lesson_id` = `v`.`lesson_id`) and (`v`.`status` = 'APPROVED')))) group by `l`.`lesson_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_organization_user_stats`
--

/*!50001 DROP VIEW IF EXISTS `v_organization_user_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_organization_user_stats` AS select `o`.`organization_id` AS `id`,`o`.`name` AS `name`,`o`.`type` AS `type`,`o`.`address` AS `address`,`o`.`city` AS `city`,`o`.`status` AS `status`,(select count(0) from (`organization_manager` `om` join `user` `u` on((`om`.`user_id` = `u`.`user_id`))) where ((`om`.`organization_id` = `o`.`organization_id`) and (`om`.`role_in_org` = 'STUDENT') and (`u`.`is_deleted` = 0))) AS `studentCount`,(select count(0) from (`organization_manager` `om` join `user` `u` on((`om`.`user_id` = `u`.`user_id`))) where ((`om`.`organization_id` = `o`.`organization_id`) and (`om`.`role_in_org` = 'TEACHER') and (`u`.`is_deleted` = 0))) AS `teacherCount` from `organization` `o` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_student_class_progress`
--

/*!50001 DROP VIEW IF EXISTS `v_student_class_progress`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_student_class_progress` AS select `cs`.`class_student_id` AS `class_student_id`,`cs`.`user_id` AS `student_id`,`cs`.`class_room_id` AS `class_room_id`,`c`.`content` AS `class_name`,`c`.`class_level` AS `class_level`,`u`.`name` AS `student_name`,`u`.`email` AS `student_email`,coalesce(`clp`.`completed_lessons`,0) AS `completed_lessons`,coalesce(`clp`.`total_lessons`,0) AS `total_lessons`,coalesce(`clp`.`completed_parts`,0) AS `completed_parts`,coalesce(`clp`.`total_parts`,0) AS `total_parts`,coalesce(`clp`.`learned_vocabularies`,0) AS `learned_vocabularies`,coalesce(`clp`.`total_vocabularies`,0) AS `total_vocabularies`,`clp`.`last_activity_at` AS `last_activity_at`,`cs`.`created_date` AS `joined_at` from (((`class_student` `cs` join `class_room` `c` on((`cs`.`class_room_id` = `c`.`class_room_id`))) join `user` `u` on((`cs`.`user_id` = `u`.`user_id`))) left join `class_learning_progress` `clp` on(((`cs`.`user_id` = `clp`.`user_id`) and (`cs`.`class_room_id` = `clp`.`class_room_id`)))) where (`u`.`is_deleted` = 0) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_topic_full`
--

/*!50001 DROP VIEW IF EXISTS `v_topic_full`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_topic_full` AS select `t`.`topic_id` AS `topic_id`,`t`.`content` AS `name`,`t`.`description` AS `description`,`t`.`image_location` AS `image_location`,`t`.`video_location` AS `video_location`,`t`.`is_private` AS `is_private`,`t`.`class_room_id` AS `class_room_id`,`c`.`content` AS `class_name`,`t`.`created_id` AS `creator_id`,`u`.`name` AS `creator_name`,`t`.`created_by` AS `created_by`,`t`.`created_date` AS `created_date`,`t`.`modified_by` AS `modified_by`,`t`.`modified_date` AS `modified_date`,count(distinct `v`.`vocabulary_id`) AS `vocabulary_count` from (((`topic` `t` left join `class_room` `c` on((`t`.`class_room_id` = `c`.`class_room_id`))) left join `user` `u` on((`t`.`created_id` = `u`.`user_id`))) left join `vocabulary` `v` on(((`t`.`topic_id` = `v`.`topic_id`) and (`v`.`status` = 'APPROVED')))) group by `t`.`topic_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_user_full_info`
--

/*!50001 DROP VIEW IF EXISTS `v_user_full_info`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_user_full_info` AS select `u`.`user_id` AS `id`,`u`.`name` AS `name`,`u`.`email` AS `email`,`u`.`code` AS `role`,`u`.`status` AS `status`,`u`.`avatar_location` AS `avatar`,`u`.`phone_number` AS `phone`,`u`.`created_date` AS `createdAt`,`om`.`organization_id` AS `facilityId`,`om`.`role_in_org` AS `roleInOrg`,`u`.`grade` AS `grade`,`u`.`gender` AS `gender`,`u`.`birth_day` AS `birthDay`,`u`.`address` AS `address`,`o`.`name` AS `facility_name`,`o`.`type` AS `facility_type`,`r`.`name` AS `role_name`,`u`.`is_deleted` AS `is_deleted` from (((`user` `u` left join `role` `r` on((`u`.`code` = `r`.`code`))) left join `organization_manager` `om` on(((`u`.`user_id` = `om`.`user_id`) and (`om`.`is_primary` = 1)))) left join `organization` `o` on((`om`.`organization_id` = `o`.`organization_id`))) where (`u`.`is_deleted` = 0) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_user_part_progress`
--

/*!50001 DROP VIEW IF EXISTS `v_user_part_progress`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_user_part_progress` AS select `pv`.`part_view_id` AS `part_view_id`,`pv`.`user_id` AS `user_id`,`pv`.`part_id` AS `part_id`,`p`.`part_name` AS `part_name`,`pv`.`lesson_id` AS `lesson_id`,`l`.`lesson_name` AS `lesson_name`,`c`.`class_room_id` AS `class_room_id`,`c`.`content` AS `class_name`,`pv`.`view_count` AS `view_count`,`pv`.`completed` AS `completed`,`pv`.`progress_percent` AS `progress_percent`,`pv`.`last_viewed_at` AS `last_viewed_at`,`pv`.`created_date` AS `created_date` from (((`part_view` `pv` join `part` `p` on((`pv`.`part_id` = `p`.`part_id`))) join `lesson` `l` on((`pv`.`lesson_id` = `l`.`lesson_id`))) left join `class_room` `c` on((`l`.`class_room_id` = `c`.`class_room_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_users_by_organization`
--

/*!50001 DROP VIEW IF EXISTS `v_users_by_organization`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_users_by_organization` AS select `u`.`user_id` AS `id`,`u`.`name` AS `name`,`u`.`email` AS `email`,`u`.`code` AS `role`,`u`.`status` AS `status`,`u`.`avatar_location` AS `avatar`,`om`.`organization_id` AS `facilityId`,`om`.`role_in_org` AS `roleInOrg`,`om`.`is_primary` AS `isPrimary`,`o`.`name` AS `facility_name`,`o`.`type` AS `facility_type` from ((`user` `u` join `organization_manager` `om` on((`u`.`user_id` = `om`.`user_id`))) join `organization` `o` on((`om`.`organization_id` = `o`.`organization_id`))) where (`u`.`is_deleted` = 0) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_vocabulary_full`
--

/*!50001 DROP VIEW IF EXISTS `v_vocabulary_full`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_vocabulary_full` AS select `v`.`vocabulary_id` AS `vocabulary_id`,`v`.`content` AS `content`,`v`.`description` AS `description`,`v`.`vocabulary_type` AS `vocabulary_type`,`v`.`slug` AS `slug`,`v`.`status` AS `status`,`v`.`is_private` AS `is_private`,`v`.`images_path` AS `images_path`,`v`.`videos_path` AS `videos_path`,`v`.`note` AS `note`,`v`.`topic_id` AS `topic_id`,`t`.`content` AS `topic_name`,`v`.`lesson_id` AS `lesson_id`,`l`.`lesson_name` AS `lesson_name`,`v`.`part_id` AS `part_id`,`p`.`part_name` AS `part_name`,`v`.`class_room_id` AS `class_room_id`,`c`.`content` AS `class_name`,`v`.`created_id` AS `creator_id`,`u`.`name` AS `creator_name`,`v`.`created_by` AS `created_by`,`v`.`created_date` AS `created_date`,`v`.`modified_by` AS `modified_by`,`v`.`modified_date` AS `modified_date`,coalesce(`vv_stats`.`total_views`,0) AS `total_views` from ((((((`vocabulary` `v` left join `topic` `t` on((`v`.`topic_id` = `t`.`topic_id`))) left join `lesson` `l` on((`v`.`lesson_id` = `l`.`lesson_id`))) left join `part` `p` on((`v`.`part_id` = `p`.`part_id`))) left join `class_room` `c` on((`v`.`class_room_id` = `c`.`class_room_id`))) left join `user` `u` on((`v`.`created_id` = `u`.`user_id`))) left join (select `vocabulary_view`.`vocabulary_id` AS `vocabulary_id`,sum(`vocabulary_view`.`view_count`) AS `total_views` from `vocabulary_view` group by `vocabulary_view`.`vocabulary_id`) `vv_stats` on((`v`.`vocabulary_id` = `vv_stats`.`vocabulary_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-20  3:21:57
